{% extends "static/Blog/index.html" %}

{% block contenido_dinamico%}
<div class="container text-center table align-items-center border mb-5 mt-5 p-5 col-sm-6">
    <h2>Registro</h2>
    <form action="" method="post" class=" m-2 p-2 sm-4"> {% csrf_token %}
        <table class="table align-items-center border m-2 p-2">
            {{form.as_table}}
            {{profile.as_table}}
        </table>
        <input type="submit" name="Crear Usuario" class="btn btn-success mt-5">
    </form>
</div>

{% endblock %}