{% extends "../../../static/Blog/index.html" %}

{% block contenido_dinamico%}


    <h1 class="mt-5 mb-5 text-center">Modificar tu post</h1>
    
    <form class="container text-center table align-items-center border mb-5 mt-5 p-5 col-sm-6" action="" enctype="multipart/form-data" method="POST">{% csrf_token %}

        <table class="table align-items-center border m-2 p-2">
            
            {{miForm.as_table}}
            <p class= 'fs-2 form-control'>Autor: {{request.user.username}}</p>
            
        </table>

        <button type="submit" value="Modificar" class="btn btn-success mt-5">Modificar Post</button> 

    </form>


{%endblock%}