{% extends "../../../static/Blog/index.html" %} 

{% block contenido_dinamico%}
    
    <h1>Posteos</h1>
    
    <div class="container">
        <div class="row flex-row d-flex justify-content-start">
    {% for post in posts %}

    <article class="container text-center justify-content-left p-4 col-sm-3 border">
        <h3><a href="{% url 'Post puntual' post_id=post.id %}">{{post.title}}</a></h3>

        <p>Autor: {{post.author}}</p>

        <p class="m-2 p-1 fs-4 text-truncate">{{post.body}}</p>
        
    </article>

    {% endfor %}
</div>
    </div>

{%endblock%}