{% extends "../../static/Blog/index.html" %} 

{% block contenido_dinamico%}

<article>
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
    <p>Autor: {{post.author}}</p>
</article>

<div>
    <h3>Comentarios</h3>

    <div class="d-flex flex-row mb-3 flex-column">
    {% for comment in comments %}
        <div class="mb-5 p-5">
            <h4 class="">{{comment.user}}</h4>
            <p>{{comment.body_comment}}</p>
        </div>
    {% endfor%}
    </div>

    <form action="" method="POST">{% csrf_token %}
        
        <table class="table">{{miForm2.as_table}}</table>

        <button type="submit" value="Enviar">Enviar comentario</button> 

    </form>
</div>

{%endblock%}