<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <header>
      <h1>Blog</h1>
    </header>

    {% block contenido_dinamico %}
    <button><a href="{% url 'Lista de posts' %}">Posteos</a></button>
    <button><a href="{% url 'Crear post' %}">Crear post</a></button>

    <h1>me voy</h1>
    {% endblock %}

    <footer>
      <h3>contacto</h3>
      <h3>red social 1</h3>
    </footer>
  </body>
</html>
